.nav-bar {
    display: flex;
    background-color: #151515;
    color: #fff;
    justify-content: center;
    gap: 5rem;
    padding: 10px;
}

.nav-bar img {
    width: 1.5rem;
}

.nav-account {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

#profile {
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
}

.nav-item {
    display: flex;
    gap: 10%;
    border-left: 2px solid #5b5b5b;
    border-right: 2px solid #5b5b5b;
    width: 65%;
    justify-content: center;
}

.nav-item-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    padding: 0px 5px;
    border-radius: 5px;
    justify-content: center;
    width: 110px;
}

.nav-item div:hover,
.nav-item div:active{
    background-color: #4a4a4a;
    cursor: pointer;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width:20%;
    background-color: #494949;
    padding: 0px 20px;
    border-radius: 5px;
}
