.search-container{
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: flex-end;
}

.search {
    display: flex;
    background-color: #fff;
    padding: 5px;
    width: 18rem;
    border-radius: 10px;
    justify-content: space-evenly;
}

.search input {
    border-radius: 10px;
    height: 1.5rem;
    width: 13rem;
    padding: 2px 5px;
    font-size: 1.1rem;
    border: none;
    outline: none;
}

.search img {
    border-radius: 10px;
    border: none;
}

.autocomplete-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    width: 100%;
    z-index: 1000;
}

.dropdown {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
}

.dropdown:empty {
    border: none;
}

.dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
    color: black;
}